# =========================
# Environment / Secrets
# =========================
.env

# =========================
# Java / Maven
# =========================
target/
*.log

# =========================
# IntelliJ IDEA
# =========================
.idea/
*.iml

# =========================
# OS files
# =========================
.DS_Store
Thumbs.db
